<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Consumption Prediction</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/intro.css')}}" type="text/css">
    <link rel="icon" href="https://media.istockphoto.com/vectors/green-eco-power-plug-vector-id951820442?k=20&m=951820442&s=612x612&w=0&h=ENQs0392xHOaxoI-zEEEYeSN_Bx_DTyiNSgG1jUEgPY=" type="image/x-icon">
    <script src="https://kit.fontawesome.com/df7ee7edbf.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="overlay">
        <h2 class="neonText">Power System Protection and Switchgear</h2> 
    </div>
    <video class="vid" src="{{url_for('static',filename='css/img/ducib.mp4')}}" autoplay loop muted plays-inline class="back-video"></video>
        <br>
        <a href="{{ url_for('index') }}" style="text-decoration: none;">
            <div class="enter">Click here to continue <i class="fa-solid fa-circle-arrow-right"></i>
            </div>
        </a>

</body>
</html>